.bg-blue {
    background-color: #105ab2;
}

.dropdown-menu.bg-dark .dropdown-item {
    color: #ffffff;;
}

.dropdown-menu.bg-dark .dropdown-item .bi {
    margin: 0 5px;
}

a.dropdown-item:focus, a.dropdown-item:hover {
    background-color: transparent!important;
    opacity: .8!important;
}

.navbar-brand {
    line-height: 16px;
    margin-right: 25px;
}

#form-border {
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.min-vh-50 {
    min-height: 50vh;
}

@media screen and (max-width: 768px) {
    #form-border {
        width: 100%;
    }
}